<div class="container-fluid">
    <div class="container shadow-lg p-3 mb-5 bg-body rounded">

        <form #forma="ngForm" method="post" class="formulario">
            <p class="display-5">Registrate</p>
            <hr />
            <!---->
            <label for="nombre"><b>Nombre</b></label>
            <input type="text" #nombre="ngModel" [(ngModel)]="register.nombre" placeholder="Introduzca su nombre" name="nombre" minlength="5" class="form-control" required [ngClass]="{'is-valid': !nombre.invalid, 'is-invalid': nombre.invalid}" />
            <div class="invalid-feedback" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors?.['minlength']">
                    Introduzca un nombre con 5 caracteres mínimo
                </div>
                <div *ngIf="nombre.errors?.['required']">
                    Introduzca un nombre válido por favor
                </div>
            </div>
            <!---->
            <label for="apellido"><b>Apellido</b></label>
            <input type="text" #apellido="ngModel" [(ngModel)]="register.apellido" placeholder="Introduzca su apellido " name="apellido" minlength="5" class="form-control" required [ngClass]="{'is-valid': !apellido.invalid, 'is-invalid': apellido.invalid}" />

            <div class="invalid-feedback" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                <div *ngIf="apellido.errors?.['minlength']">
                    Introduzca un apellido con 5 caracteres mínimo
                </div>
                <div *ngIf="apellido.errors?.['required']">
                    Introduzca un apellido válido por favor
                </div>
            </div>
            <!---->
            <!--------espacio tipo_documento-->
            <!--------espacio tipo_documento-->
            <!---->
            <label><b>Tipo de identificación</b></label><br>
            <select  [(ngModel)]="register.tipo_documento" name="tipo_documento" class="form-control">
            <option>Seleccionar</option>
            <option value="CC">Cédula de ciudadanía (CC)</option>
            <option value="CE">Cédula de extranjería (CE)</option>
            <option value="TP">Tarjeta pasaporte (TP)</option>
            
          </select>
            <label for="num_identificacion"><b>Número de documento</b></label>
            <input type="number" #num_identificacion="ngModel" [(ngModel)]="register.num_documento" [(ngModel)]="cuenta.num_documento" placeholder="Introduzca su número de documento " name="num_identificacion" min="1000000" class="form-control" required [ngClass]="{'is-valid': !num_identificacion.invalid, 'is-invalid': num_identificacion.invalid}"
            />

            <div class="invalid-feedback" *ngIf="num_identificacion.invalid && (num_identificacion.dirty || num_identificacion.touched)">
                <div *ngIf="num_identificacion.errors?.['min']">
                    Introduzca un número de documento con 7 caracteres mínimo
                </div>
                <div *ngIf="num_identificacion.errors?.['required']">
                    Introduzca un número válido por favor
                </div>
            </div>
            <!---->
            <label for="fecha_nacimiento"><b>Fecha de nacimiento</b></label>
            <input type="date" #fecha_nacimiento="ngModel" [(ngModel)]="register.fecha_nacimiento" placeholder="Introduzca su fecha de nacimiento " name="fecha_nacimiento" max="2007-12-31" class="form-control" required [ngClass]="{'is-valid': !fecha_nacimiento.invalid, 'is-invalid': fecha_nacimiento.invalid}"
            />

            <div class="invalid-feedback" *ngIf="fecha_nacimiento.invalid && (fecha_nacimiento.dirty || fecha_nacimiento.touched)">
                <div *ngIf="fecha_nacimiento.errors?.['min']">
                    Lo lamento tas pequeño
                </div>
                <div *ngIf="fecha_nacimiento.errors?.['required']">
                    Recuerda que debes ser mayor de 16 años para crear una cuenta
                </div>
            </div>
            <!---->
            <label><b>Tipo de cuenta a crear</b></label><br>
            <div class="form-check">
                <input class="form-check-input" type="radio" #tipo_cuenta="ngModel" [(ngModel)]="cuenta.tipo_cuenta" name="tipo_cuenta" value=Ahorros required>
                <label class="form-check-label" for="tipo_cuenta">
                Cuenta de ahorros
            </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tipo_cuenta" value=Corriente #tipo_cuenta="ngModel" [(ngModel)]="cuenta.tipo_cuenta" required>
                <label class="form-check-label" for="tipo_cuenta">
                Cuenta corriente
            </label>
            </div>
            <!-- <label for="tipo_cuenta"><b>Cuenta de ahorros</b></label>
        <input type="radio" #tipo_cuenta="ngModel" [(ngModel)]="cuenta.tipo_cuenta" name="tipo_cuenta" value=Ahorros required>
        <label for="tipo_cuenta"><b> Cuenta corriente</b></label>
        <input type="radio" name="tipo_cuenta" value=Corriente #tipo_cuenta="ngModel" [(ngModel)]="cuenta.tipo_cuenta" required><br> -->
            <!---->

            <label for="email"><b>Correo electrónico</b></label>
            <input type="email" #email="ngModel" [(ngModel)]="register.email" placeholder="Introduzca la correo electrónico" name="email" class="form-control" required [ngClass]="{'is-valid': !email.invalid, 'is-invalid': email.invalid}" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
            />
            <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors?.['required']">
                    Introduzca un correo electrónico válido por favor {{ email.value }}
                </div>
                <div *ngIf="email.errors && email.errors?.['pattern']">
                    El correo electrónico no sigue el formato correcto. Sigue este ejemplo: julito@sophos.com {{ email.value }}
                </div>
            </div>
            <label for="psw"><b>Contraseña</b></label>
            <input type="password" placeholder="Introduzca la contraseña" #password="ngModel" [(ngModel)]="register.contra" name="password" class="form-control" required [ngClass]="{'is-valid': !password.invalid, 'is-invalid': password.invalid}" />
            <div class="invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors?.['required']">
                    Introduzca una contraseña por favor
                </div>
            </div>
            <label for="psw"><b>Contraseña nuevamente</b></label>
            <input type="password" placeholder="Introduzca la contraseña" #repeatpass="ngModel" [(ngModel)]="contras.repeatpass" name="repeatpass" class="form-control" required [ngClass]="{'is-valid': !repeatpass.invalid, 'is-invalid': repeatpass.invalid}" />
            <div class="invalid-feedback" *ngIf="repeatpass.invalid && (repeatpass.dirty || repeatpass.touched)">
                <div *ngIf="repeatpass.errors?.['required']">
                    Introduzca una contraseña por favor
                </div>
            </div>

            <br>
            <div class="row">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary" [disabled]="!forma.valid" (click)="OnSubmit()">Registrarse</button>
                </div>
            </div>
        </form>
    </div>
</div>