<div class="modal-header">
    <h4 class="modal-title" id="modal-title">!HEY¡</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-primary">{{customer.documentType}} {{customer.documentNum}}</span> profile?</strong></p>
    <p>All information associated to this customer profile will be permanently deleted.
    <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
    <div class="container-fluid">

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" (click)="delete()">DELETE</button>
            <button type="button" class="btn btn-outline-secondary"
                (click)="activeModal.close('Close click')">Close</button>
        </div>
    </div>